@CHARSET "ISO-8859-1";

/*estilo padrão para o body */
body {
	font: 0.7em Verdana, Arial, Lucida, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #000000;
	margin: 1em;
	padding: 1em;
}

#skip,#cabecalho,#rodape,.hide,#barraTexto {
	display: none;
}

/*div com o conteudo da tela logado*/
#conteudoLogado {
	margin: 2em;
	margin-left: 20%;
	margin-right: 20%;
	min-width: 50%;
	text-align: center;
}

/*div que contém o aviso na tela de login */
#principal {
	padding-top: 1em;
	float: left;
	width: 70%;
	margin-right: -16em;
	text-align: left;
}

/*Aviso na tela de login */
#aviso {
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

/*div que contém o formulario de login e a mensagem especial na tela de login*/
#direita {
	float: right;
	width: 180px;
	padding-top: 1em;
	padding-bottom: 0.8em;
}

/*mensagem especial na tela de login*/
#mensagem {
	color: red;
	border-style: none;
	border-width: 1px;
	margin-top: 1em;
	text-align: center;
	font-weight: bold;
}

/*estilo para o formulário de login e seus inputs*/
#formulario {
	padding: 1em;
	padding-left: 1.3em;
	background-color: #ecf2ff;
	border-style: solid;
	border-width: 1px;
	border-color: #87AEFC;
}

#formulario input.button {
	color: white;
	background-color: #87AEFC;
}

#formulario input.text {
	width: 95%;
	margin-bottom: 0.3em;
}

/*estilo das páginas de menus*/
#subMenu {
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	border-color: #0000FF;
	background-color: #ecf2ff;
}

/*estilo dos links*/
a:link {
	color: #0000FF;
	text-decoration: none
}

a:visited {
	color: #0000FF;
	text-decoration: none
}

a:hover {
	color: #FF0000;
	text-decoration: underline
}

a:active {
	color: #FF0000;
	text-decoration: none
}

/*estilo das listas não ordenadas*/
ul li {
	font-weight: bold;
	list-style-image: url(/images/bullet1a.gif);
}

ul li li {
	font-weight: normal;
	list-style-image: url(/images/bullet1a.gif);
}

/*Estilos dos títulos*/
h1 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}

h1.central {
	font-weight: bold;
	text-transform: uppercase;
	color: #3333CC;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.2em;
	font-size: 1.2em;
	text-align: center;
	border-color: #3333CC;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	margin-top: 1em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #3333CC;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.2em;
	border-color: #3333CC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #3333CC;
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.2em;
	border-color: #3333CC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

/*Estilos para as tabelas do sistema*/
table {
	background-color: #4582FC;
	margin-right: auto;
	margin-left: auto;
}

table td {
	padding: 2px;
	font-size: 1em;
	background-color: #FFFFFF
}

table th {
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	background-color: #FFFFFF
}

table caption {
	color: #3333CC;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}

.tdHeader1 {
	background-color: #87AEFC;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center
}

.tdHeader2 {
	background-color: #87AEFC;
}

.tdHeader3 {
	background-color: #D5E1FA;
}

.tdHeader3right {
	background-color: #D5E1FA;
	text-align: right
}

.tdHeader4 {
	background-color: #ECF2FF;
}

.contentBold {
	font-weight: bold;
	text-align: auto
}

.contentRight {
	text-align: right
}

.contentCenter {
	text-align: center
}

.contentRightpad {
	text-align: right;
	padding-right: 6px
}

/*estilos para os inputs*/
select {
	font-size: 100%
}

.text {
	border: 1px solid #4582FC;
	font-size: 1em
}

.button {
	border: 1px solid #4582FC;
	font-size: 1em;
	font-weight: bold;
	background-color: #ECF2FF;
}