* { margin: 0; padding: 0; }

#isee { position: absolute; top: -100px; left: 0; width: 1px; height: 1px; }

#barraparceiros, #barraparceiros td { border: 0; border-collapse: collapse; }

.box { font: 9px verdana, arial, helvetica, sans-serif; color: #333333; width: 120px; height: 20px; }

#banner { position: absolute; top: 0; left: 0; }
#banner a img { border: 0; }

#barraparceiros { height: 29px; overflow: hidden;
  background: url('http://www.digirati.com.br/barra/images/bg_parceiros.gif'); }
#barraparceiros .logo { float: left; }
#barraparceiros ul { background: url('http://www.digirati.com.br/barra/images/bg_botoes.jpg'); }
#barraparceiros ul, #barraparceiros ul li { display: block; float: left; }
#barraparceiros ul li a { background: url('http://www.digirati.com.br/barra/images/div_menu.gif') right 0 no-repeat;
  text-decoration: none; text-indent: -1000px; display: block; overflow: hidden; font-size: 1px; width: 120px; height: 29px; }
#barraparceiros ul li a span { display: block; width: 120px; height: 29px; background: transparent 5px 5px no-repeat; cursor: pointer; }
#barraparceiros ul .host a span { background-image: url('http://www.digirati.com.br/barra/images/hospedagem.gif'); }
#barraparceiros ul .registro a span { background-image: url('http://www.digirati.com.br/barra/images/registro.gif'); }
#barraparceiros ul .auditoria a span { background-image: url('http://www.digirati.com.br/barra/images/auditoria.gif'); } 
#barraparceiros ul .webfacil a span { background-image: url('http://www.digirati.com.br/barra/images/webfacil.gif'); }
#barraparceiros ul .webmasters a span { background-image: url('http://www.digirati.com.br/barra/images/webmaster.gif'); }
#barraparceiros ul .profissionaisweb a span { background-image: url('http://www.digirati.com.br/barra/images/profissionaisweb.gif'); }
#barraparceiros ul .cursos a span { background-image: url('http://www.digirati.com.br/barra/images/cursos.gif'); }

#barraparceiros form { height: 29px; background: url('http://www.digirati.com.br/barra/images/bg_parceiros.gif'); }
#barraparceiros .parceiros .txt { float: left; height: 29px; font-size: 1px;
  width: 75px; background: url('http://www.digirati.com.br/barra/images/div_parceiros.gif') 67px 5px no-repeat;
}
#barraparceiros .parceiros .txt span { float: left; height: 29px; font-size: 1px; text-indent: -100000px;
  width: 75px; background: url('http://www.digirati.com.br/barra/images/parceiros.gif') 15px 8px no-repeat;
}
#barraparceiros fieldset { border: 0; }
#barraparceiros fieldset div { float: left; height: 29px; }
#barraparceiros fieldset select { margin: 3px 0 0 6px; padding: 0; }
#barraparceiros fieldset input { float: right; margin: 5px 5px 0 0; }
