/* 
    Document   : principal
    Created on : 05/03/2009, 08:48:37
    Author     : 80058442553
    Description:
        Purpose of the stylesheet follows.
*/

body
{
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #333;
	background-color:  #D6D6D6;
	background-image: url(img_39.gif);
}

a:link { color: #B52C07; }
a:visited { color: #600; }

a:hover, a:active
{
	color: #fff;
	background-color: #B52C07;
}

h2
{
	color:  #B52C07;
	font: 120% georgia, times, "times new roman", serif;
	font-weight: bold;
	margin: 0 0 2px 0;
}

h2 a { text-decoration: none; }

h3
{
	color: #5B5E0E;
	font: 106% georgia, times, "times new roman", serif;
	font-weight: bold;
	margin-top: 0;
}

#container
{
	width: 800px;
	text-align: left;
	background-color: #fff;
	border: 1px none #fff;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	height: auto;
}

#header
{
	height: 80px;
	width: 100%;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	border-bottom: 1px solid #fff;
	position: relative;
	border: 1px none #fff;
	border-bottom: 1px solid #fff;
}

#header h1
{
	font-size: 1px;
	text-align: right;
	color: #fff;
	margin: 0;
	padding: 0;
}
/*
#mainnav ul { list-style-type: none; }
#mainnav li { display: inline; }
*/
#mainav
{
    height: 200px;
	width: 200px;
	padding-top: 100px;
    padding-left: 20px;
	padding-right: 20px;
    padding-bottom: 100px;
    margin:0 auto 0 auto;
}

#contents {
	margin-top: 0;
	margin-right: 180px;
	margin-bottom: 40px;
	margin-left: 20px;
}
#contents p { line-height: 165%; }
.blogentry { border-bottom: 1px solid #C5C877; }
.imagefloat { float: right; }

#footer
{
	clear: both;
	color: #272900;
	text-align: right;
	font-size: 90%;
}

#skipmenu
{
	position: absolute;
	left: 0;
	top: 5px;
	width: 645px;
	text-align: right;
}

#skipmenu a
{
	color: #666;
	text-decoration: none;
}

#skipmenu a:hover
{
	color: #fff;
	background-color: #666;
	text-decoration: none;
}
