/* 
    Document   : temagir
    Created on : 05/03/2009, 08:46:37
    Author     : 80058442553
    Description:
        Purpose of the stylesheet follows.
*/

body, ul, td, th, p, small, .small,
.tableTitle, .tableExtras, input, textarea, select {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
						}

table.MTable { border-top:2px
	       solid #FFFFFF;
	       border-bottom:2px
	       solid #FFFFFF;
	       border-left:2px
	       solid #FFFFFF;
	       border-right:2px
	       solid #FFFFFF
       }

      .botao { background-color: #ffffff;
               color: #000099;
               font-family: Verdana, Arial, Helvetica, sans-serif;
               font-size: 8pt;
               border: 1px #000099 solid
				                 }

td.LinTitulo { border-top:1px solid #000000;
               border-bottom:1px solid #000000
                                                 }

td.LinNormal { border-bottom:1px solid #C1CDD8
                                                 }

td.LinDestaque { border-bottom:2px solid #000000
                                                 }

a:link { font-size: 13px;
         text-align: left;
         line-height: 13px;
         color: #003366;
         font-weight: normal;
         letter-spacing: 0px;
         text-decoration: none;
         font-family: "Tahoma", "MS Sans Serif", "Arial"
						 }

a:hover { font-size: 13px;
          text-align: left;
          line-height: 13px;
          color: #000000;
          font-weight: normal;
          letter-spacing: 0px;
          text-decoration: none;
          font-family: "Tahoma", "MS Sans Serif", "Arial"
						 }

a:visited { font-size: 13px;
          text-align: left;
          line-height: 13px;
          color: #003366;
          font-weight: normal;
          letter-spacing: 0px;
          text-decoration: none;
          font-family: "Tahoma", "MS Sans Serif", "Arial"
						 }
