#HOTWordsTitle tbody, #HOTWordsTitle span, #HOTWordsTitle iframe, #HOTWordsTitle font, #HOTWordsTitle img, #HOTWordsTitle img:hover, #HOTWordsTitle table,  #HOTWordsTitle tr, #HOTWordsTitle th, #HOTWordsTitle td, #HOTWordsTitle p, #HOTWordsTitle center, #HOTWordsTitle bloquote, #HOTWordsTitle quote, #HOTWordsTitle pre, #HOTWordsTitle a, #HOTWordsTitle a:hover,  #HOTWordsTitle h1, #HOTWordsTitle h2, #HOTWordsTitle h2, #HOTWordsTitle h4, #HOTWordsTitle h5,  { 
	color: none  !important; 
	background-color: transparent  !important; 
	margin: 0 0 0 0  !important; 
	margin-top: 0  !important; 
	margin-right: 0  !important; 
	margin-bottom: 0  !important; 
	margin-left: 0  !important; 
	padding: 0 0 0 0  !important; 
	padding-top: 0  !important; 
	padding-right: 0  !important; 
	padding-bottom: 0  !important; 
	padding-left: 0  !important; 
	border: 0px  !important; 
	border-sytle: none  !important; 
	border-top-width: 0px  !important; 
	border-right-width: 0px  !important; 
	border-bottom-width: 0px  !important; 
	border-left-width: 0px  !important;
	border-top-style: none  !important; 
	border-right-style: none  !important; 
	border-bottom-style: none  !important; 
	border-left-style: none  !important; 
	border-top-color: -moz-use-text-color  !important; 
	border-right-color: -moz-use-text-color  !important; 
	border-bottom-color: -moz-use-text-color  !important; 
	border-left-color: -moz-use-text-color  !important; 
	font-weight: none  !important; 
	font-style: normal  !important; 
	font-size: none  !important; 
	font-family: none  !important;  
	vertical-align: none  !important;
	line-height:normal !important;


}

#HOTWordsTitle a, #HOTWordsTitle a:hover {
	font-size:10px !important;
	font-weight:bold !important;
	color:#0000FF !important;
	font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
	background-color:none !important;
	background:none !important;		


}


/*ESTILO TRADICIONAL*/
#HW_Container	{
	width: 283px !important;
	height: 155px !important;
	background:url('http://74.52.208.234/img/balao_0_gif.gif') no-repeat !important;
	vertical-align:middle !important;
}



#HW_Topo	{
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	width:283px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;

}

	#HW_Espaco	{
	float:left !important;
	text-align:left !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	width:190px !important;
	height:17px !important;
	}
	
	#HW_Logo	{
	float:left !important;
	text-align:left !important;
	margin-top:8px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	width:70px !important;
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	height:17px !important;

	}

	#HW_Logo a, #HW_Logo a:hover, #HW_Logo a img	{
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	height:17px !important;	

	}

	
	#HW_Fechar{
	float:left !important;
	text-align:left !important;
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	margin-top:8px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	height:17px !important;	

	}

#HW_Fechar a, #HW_Fechar a:hover	{
	float:left !important;
	text-align:left !important;
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;

	}


#HW_Fechar  img	{
	float:left !important;
	text-align:left !important;
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;

	}



#HW_Conteudo	{
	cursor:pointer !important;
	height:86px !important;
	width:251px !important;

	margin-top:0px !important;
	margin-bottom:0px!important;
	margin-left:0px !important;
	margin-right:0px !important;


	padding-top:20px!important;
	padding-bottom:0px!important;
	padding-left:16px!important;
	padding-right:16px!important;
	margin:0 !important;
	text-align:left !important;
	border:0px  !important;
	vertical-align:top !important;

}

#HW_Texto	{
cursor:pointer !important;
color:#000000 !important;
width:251px !important;
height:70px !important;
margin-top:0px !important;
margin-bottom:0px!important;
margin-left:0px !important;
margin-right:0px !important;
padding-top:0px !important;
padding-bottom:4px!important;
padding-left:0px !important;
padding-right:0px !important;
font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
font-size:10px !important;
font-style:normal!important; 
text-align:left !important;
line-height:normal !important;
vertical-align:top !important;
border:0px  !important;
}



	#HW_Texto h1	{
	display:block !important;
	font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
	font-size:10px !important;
	font-weight:bold !important;
	text-align:left !important;
	line-height:normal !important;
	cursor:pointer !important;
	color:#000000 !important;
	margin-top:0px !important;
	margin-bottom:7px!important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding:0px !important;
	border:0px  !important;
	letter-spacing:normal !important; 
	height: 10px !important; 
	background-color: none !important; 
	background-image: none !important; 
	background-attachment: none !important; 
	background-position: none !important; 

	}

	#HW_Texto p	{
	display:block !important;
	cursor:pointer !important;
	color:#000000 !important;
	padding:0 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
	font-size:10px !important;
	font-style:normal!important; 
	text-align:left !important;
	line-height:normal !important;
	margin:0 !important;
	float:left !important;
	margin:0  !important;
	border:0px  !important;	
	background-color:transparent !important;
	}

	#HW_Texto p img{
	margin-top:-15px !important;
	margin-bottom:0px !important;
	margin-left:5px !important;
	margin-right:0px !important;
	border:0px  !important;	
	background-color:transparent !important;	
	float:right !important;
	display:block !important;
	}

	#HW_Texto img{
	margin-top:-15px !important;
	margin-bottom:0px !important;
	margin-left:5px !important;
	margin-right:0px !important;
	border:0px  !important;	
	background-color:transparent !important;	
	float:right !important;
	display:block !important;
	}


		#HW_Texto2	{
		cursor:pointer !important;
		color:#000000 !important;
		width:251px !important;

		margin:0 !important;
		padding:0 !important;
		font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
		font-size:10px !important;
		font-style:normal!important; 
		text-align:left !important;
		line-height:normal !important;
		vertical-align:top !important;
		border:0px  !important;
		}



		#HW_Texto2 h1	{
		display:block !important;
		font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
		font-size:10px !important;
		font-weight:bold !important;
		text-align:left !important;
		line-height:normal !important;
		cursor:pointer !important;
		color:#000000 !important;
		margin:0 0 4px 0 !important;
		padding:0 !important;
		border:0px  !important;
		letter-spacing:normal !important; 
   	background-color: none !important; 
   	background-image: none !important; 
  	background-attachment: none !important; 
  	background-position: none !important; 
	
		}

		#HW_Texto2 p	{
		display:block !important;
		cursor:pointer !important;
		color:#000000 !important;
		padding:0 !important;
		font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
		font-size:10px !important;
		font-style:normal!important; 
		text-align:left !important;
		line-height:normal !important;
		margin:0 !important;
		float:left !important;
		margin:0  !important;
		border:0px  !important;	
		background-color:transparent !important;
		height:0px  !important;
		width: 175px !important;			
		}
	
		#HW_Texto2 img{
		margin:-14px 0 0 0  !important;
		border:0px  !important;	
		background-color:transparent !important;	
		float:right !important;
		display:block !important;
		}





	#HW_Link	{
	cursor:pointer !important;
	height:auto !important;
	margin-top:0px !important;
	margin-bottom:0px!important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding:0 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif  !important;
	float:left !important;
	width:100% !important;

	
	}

	#HW_Link a{
	cursor:pointer !important;
	font-size:10px !important;
	font-weight:bold !important;
	text-align:left !important;
	background-color:none !important;
	margin-top:0px !important;
	margin-bottom:0px!important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px !important;
	padding-bottom:0px!important;
	padding-left:0px !important;
	padding-right:0px !important;
	float:left !important;	
	width:100% !important;
	
	}

	#HW_Link a:hover{
	cursor:pointer !important;
	font-size:10px !important;
	font-weight:bold !important;
	text-align:left !important;
	background-color:none !important;
	margin-top:0px !important;
	margin-bottom:0px!important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding:0 !important;
	float:left !important;	
	width:100% !important;
	}	



/*ESTILO TRADICIONAL CUSTOM*/

#HW_Container_Custom	{
	width:282px !important;
	height:166px !important;
	background:url('http://74.52.208.234/img/balao_0_gif.gif') no-repeat !important;
	vertical-align:middle !important;
}



	#HW_Espaco_Custom	{
	float:left !important;
	text-align:left !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	width:260px !important;
	height:17px !important;
	}
	
	#HW_Logo_Custom	{
	float:left !important;
	text-align:center !important;
	margin-top:8px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	width:100% !important;
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;
	height:17px !important;
	}

	#HW_Logo_Custom a, #HW_Logo_Custom a:hover, #HW_Logo_Custom a img	{
	cursor:pointer  !important;
	_cursor:hand  !important;
	background-color:transparent !important;
	border:0px !important;	
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	padding-left:0px!important;
	padding-right:0px!important;
	height:10px !important;	
	}
	}
	}
/*ESTILO YOUTUBE*/
#HW_Container_Youtube	{
	width:286px !important;
	height:309px !important;
	background: url('http://74.52.208.234/img/balao_gif_youtube_banner.gif') no-repeat !important;
}

#HW_Conteudo_Youtube	{
height:auto !important;
width:269px !important;
padding: 10px 7px 5px 7px !important;
text-align:left !important;
}

#HW_Plugin_Youtube	{
cursor:pointer !important;
height:202px !important;
display:block !important;
margin:0 !important;
padding:0 !important;
font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
font-size:10px !important; 
text-align:left !important;
}

#HW_Banner_Youtube	{
height:auto !important;
margin:20px 0 0 0 !important;
padding:0 !important;
font-family:Verdana, Arial, Helvetica, sans-serif  !important;
}


/*ESTILO SHOPPING*/
#HW_Container_Shopping	{
    width: 301px !important;
    height: 174px !important;
	background: url('http://74.52.208.234/img/balao_gif_shopping.gif') no-repeat !important;

}


#HW_Topo_Shopping	{
height:24px !important;
padding:8px 0 0px 0 !important;
width:301px !important;
}

	#HW_Espaco_Shopping	{
	float:left !important;
	text-align:left !important;
	margin:0 !important;
	padding:0 !important;
	width:210px !important;
	}

	#HW_Conteudo_Shopping	{
	width:279px !important;
	padding: 15px 7px 5px 15px !important;
	text-align:left !important;
	float:left !important;
	}

#HW_Produto_Shopping	{
cursor:pointer !important;
height:auto !important;
width:84px !important;
margin:0 6px 0 0!important;
padding:0 !important;
float:left !important;
}

#HW_Descricao_Shopping	{
float:left !important;
cursor:pointer !important;
height:auto !important;
width:179px !important;
margin:0!important;
padding:0!important;
padding:0 !important;
font-family:Verdana, Arial, Helvetica, sans-serif  !important; 
font-size:10px !important; 
text-align:left !important;
border:#cccccc solid 1px !important;
}

#HW_Descricao_Shopping h1 {
margin:0 !important;
padding:0 0 5px 5px !important;
float:left !important;
display:block !important;
width:174px !important;
font-size: 12px !important;
font-weight:bold !important;
color: #333333 !important;
}


#HW_Descricao_Shopping h2	{
margin:0 !important;
padding:0 0 5px 5px !important;
float:left !important;
display:block !important;
width:174px !important;
font-size: 11px !important;
color: #076ab6 !important;
font-weight: bold !important;
}

#HW_Descricao_Shopping h4	{
margin:0 !important;
padding:0 0 5px 5px !important;
float:left !important;
display:block !important;
width:174px !important;
font-family:Arial, Helvetica, sans-serif !important;
font-size: 10px !important;
color: #999999 !important;
font-weight: bold !important;
}

#HW_Descricao_Shopping h3	{
margin:0 !important;
padding:0 0 5px 5px !important;
float:left  !important;
display:block !important;
width:174px !important;
font-family:Arial, Helvetica, sans-serif !important;
font-size: 16px !important;
color: #FF6600 !important;
font-weight: bold !important;
}

#HW_BTComprar_Shopping{ float:left; margin:6px 0 0 0; }


/*ESTILO VIDEO_BIG*/

#HW_Container_VideoBig	{
    width: 255px !important;
    background: url('http://74.52.208.234/img/bg_flash_big.png') no-repeat !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('http://74.52.208.234/img/bg_flash_big.png') !important;
	background-repeat:no-repeat !important;
	
}


#HW_Topo_VideoBig	{
	width:255px !important;
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

	#HW_Espaco_VideoBig	{
	float:left !important;
	text-align:left !important;
	margin:0 !important;
	padding:0 !important;
	width:160px !important;
	}


#HW_Conteudo_VideoBig	{
height:auto !important;
width:255px !important;
padding: 0px !important;
}

#HW_Plugin_VideoBig	{
height:182 !important;
margin:0 !important;
padding:0 !important;
}



/*ESTILO VIDEO_VIDEO*/

#HW_Container_Video	{
    width: 282px !important;
	height: 265px !important;
    background: url('http://74.52.208.234/img/bg_flash_video.png') no-repeat !important;
	background-image: url('http://74.52.208.234/img/bg_flash_video.png') no-repeat !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(http://67.19.205.130/img/bg_flash_video.png) !important;
	background-repeat:no-repeat !important;
	
}


#HW_Topo_Video	{
	width:282px !important;
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

	#HW_Espaco_Video	{
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	width:190px !important;

	}


#HW_Conteudo_Video	{
height:auto !important;
width:282px !important;
padding:0 !important;
margin:6px 0 0 0 !important;
float:left !important;
}

#HW_Plugin_Video	{
width:282px !important;
margin:0 0 0 0 !important;
padding:0 !important;
}



/*ESTILO VIDEO_WIDE*/

#HW_Container_VideoWide	{
    width: 301px !important;
	height: 215px !important;
    background: url('http://74.52.208.234/img/bg_flash_wide.png') no-repeat !important;
	background-image:  url('http://74.52.208.234/img/bg_flash_wide.png') no-repeat !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('http://74.52.208.234/img/bg_flash_wide.png') !important;
	background-repeat:no-repeat !important;
	
}


#HW_Topo_VideoWide	{
	width:301px !important;
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;

}

	#HW_Espaco_VideoWide {
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	width:210px !important;
	}


#HW_Conteudo_VideoWide	{
height:auto !important;
width:301px !important;
padding: 0px !important;
}

#HW_Plugin_VideoWide	{

width:301px !important;
height:182 !important;
margin:0 !important;
padding:0 !important;
}


/*ESTILO VIDEO_HALF*/

#HW_Container_Half	{
        width: 282px !important;
	height: 154px !important;
	background: url('http://74.52.208.234/img/bg_flash_half.png') no-repeat !important;
	background-image: url('http://74.52.208.234/img/bg_flash_half.png') no-repeat !important; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('http://74.52.208.234/img/bg_flash_half.png') !important;
	background-repeat:no-repeat !important;
	
}


#HW_Topo_Half	{
	width:282px !important;
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

	#HW_Espaco_Half	{
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	width:190px !important;

	}


#HW_Conteudo_Half	{
height:auto !important;
width:282px !important;
padding:0 !important;
margin:8px 0 0 0 !important;
float:left !important;
}

#HW_Plugin_Half	{
width:282px !important;
margin:0 0 0 0 !important;
padding:0 !important;
}
/*ESTILO VIDEO_TRADICIONAL */

#HW_Container_VTradicional	{
    width: 282px !important;
	  height: 154px !important;
    background: url('http://74.52.208.234/img/bg_flash_tradic.png') no-repeat !important;
    background-image: url('http://74.52.208.234/img/bg_flash_tradic.png') no-repeat !important; 
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader('http://74.52.208.234/img/bg_flash_tradic.png') !important;
	  background-repeat:no-repeat !important;
	
}


#HW_Topo_VTradicional	{
	width:282px !important;
	height:32px !important;	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	line-height: normal !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

	#HW_Espaco_VTradicional	{
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	width:190px !important;

	}


#HW_Conteudo_VTradicional	{
height:auto !important;
width:282px !important;
padding:0 !important;
margin:8px 0 0 0 !important;
float:left !important;
}

#HW_Plugin_VTradicional	{
width:282px !important;
margin:0 0 0 0 !important;
padding:0 !important;
}


